.mdb-color {
    background-color: #212529 !important;
}

#imagenes img {
    width: 100%;
    height: 250px;
    border: 1px solid #F7A440;
}

#galeria .col-lg-4{
    padding: 10px;
    margin: 0 !important;
}

#galeria img:hover{
    border: 5px solid #F6DCBF;
}

.navbar-toggler{
    height: 50px;
    width: 50px;
}

.navbar-toggler span{
    display: block;
    width: 22px;
    height: 2px;
    border: 1px;
    margin-left: 1px;
    margin-right: 4px;
    background-color: white;
}

.navbar-toggler span + span{
    margin-top: 5px;
}

.container.marketing{
    padding-top: 20px;
}

.bg-image{
    background-image: url('../img/Fondo.jpg');
    height: 100vh;
}

 .mask{
     z-index: 1;
 }

 .mask-custom {
    backdrop-filter: contrast(100%) brightness(100%) saturate(100%) sepia(0%) hue-rotate(0deg) grayscale(0%) invert(0%) blur(0px);
    mix-blend-mode: screen;
    background: rgba(243, 106, 188, 0.3);
    opacity: 0.5;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .gradient-custom {
    /* fallback for old browsers */
    backdrop-filter: contrast(100%) brightness(114%) saturate(78%) sepia(12%) hue-rotate(0deg) grayscale(0%) invert(0%) blur(0px);
    mix-blend-mode: screen;
    background: rgba(243, 106, 188, 0.3);
    opacity: 0.9;
    height: 100vh;
  }

 .mask h1{
     /* font-size: 75px;
     font-weight: 900;
     color: rgb(0, 0, 0);*/
     font-family: sans-serif;
     /* text-align: center; */
     z-index: 2;
 }
 
 .mask h2{
    /* font-size: 45px; */
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    /* text-align: center; */
    z-index: 2;
}

/* div ul li p img{
    filter: hue-rotate(142deg) saturate(300%) 
} */