.navbar-toggler{
    height: 50px;
    width: 50px;
}

.navbar-toggler span{
    display: block;
    width: 22px;
    height: 2px;
    border: 1px;
    margin-left: 1px;
    margin-right: 4px;
    background-color: white;
}

.container.marketing{
    padding-top: 20px;
}

.navbar-toggler span + span{
    margin-top: 5px;
}

/* .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
} */

.bg-img{
    margin: 0;
    width: 100%;
    min-height: 100vh;
    background-image:url("../img/Fondo.jpg");
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .bg-img::before{
    content:"";
    width: 100%;
    min-height: 100vh;
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0.7;
    z-index: 0;
 }

 .mask{
     z-index: 1;
 }

 .mask h1{
     font-size: 75px;
     font-weight: 900;
     font-family: sans-serif;
     text-align: center;
 }
 
 .mask h2{
    font-size: 45px;
    font-family: sans-serif;
    text-align: center;
}