.navbar-toggler{
    height: 50px;
    width: 50px;
}

.navbar-toggler span{
    display: block;
    width: 22px;
    height: 2px;
    border: 1px;
    margin-left: 1px;
    margin-right: 4px;
    background-color: white;
}

.navbar-toggler span + span{
    margin-top: 5px;
}

/* .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
} */

.bg-image{
    background-image: url('../img/Fondo.jpg');
    height: 100vh;
 }

 /* .bg-img::before{
    content:"";
    width: 100%;
    min-height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    background-size: contain;
    background-repeat: no-repeat;
    object-fit: fill;
    opacity: 0.6;
    z-index: 0;
    padding-left: 16rem;
    padding-right: 16px;
 } */

 .mask{
     z-index: 1;
 }

 .mask-custom {
    backdrop-filter: contrast(100%) brightness(100%) saturate(100%) sepia(0%) hue-rotate(0deg) grayscale(0%) invert(0%) blur(0px);
    mix-blend-mode: screen;
    background: rgba(243, 106, 188, 0.3);
    opacity: 0.5;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .gradient-custom {
    /* fallback for old browsers */
    backdrop-filter: contrast(100%) brightness(114%) saturate(78%) sepia(12%) hue-rotate(0deg) grayscale(0%) invert(0%) blur(0px);
    mix-blend-mode: screen;
    background: rgba(243, 106, 188, 0.3);
    opacity: 0.9;
    height: 100vh;
  }

 .mask h1{
     font-size: 75px;
     font-weight: 900;
     color: rgb(0, 0, 0);
     font-family: sans-serif;
     text-align: center;
     z-index: 2;
 }
 
 .mask h2{
    /* font-size: 45px; */
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    text-align: center;
    z-index: 2;
}